* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica; }

html,
body {
  height: 100%; }

body {
  display: grid;
  grid-template-rows: 10% 1fr; }

header.svelte-s5keo0.svelte-s5keo0 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3e00; }

header.svelte-s5keo0 .title.svelte-s5keo0 {
  font-size: 36pt;
  text-align: center; }

@media screen and (max-width: 450px) {
  header.svelte-s5keo0 .title.svelte-s5keo0 {
    font-size: 24pt; } }

main.svelte-s5keo0 .inner-block.svelte-s5keo0 {
  width: 70%;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

main.svelte-s5keo0 .inner-block .todos.svelte-s5keo0 {
  width: 100%;
  margin: 20px 0 0; }

form.svelte-on9zkr.svelte-on9zkr {
  display: flex;
  justify-content: space-evenly;
  width: 60%; }

form.svelte-on9zkr input.svelte-on9zkr {
  width: 70%;
  border: 1px solid;
  background: none;
  padding: 10px;
  font-size: 12pt;
  transition: border-color 0.3s ease-in; }

form.svelte-on9zkr input.svelte-on9zkr:focus {
  border-color: #ff3e00; }

form.svelte-on9zkr button.svelte-on9zkr {
  border: 1px solid;
  background: none;
  width: 5em;
  padding: 5px;
  font-size: 12pt;
  cursor: pointer;
  transition: all 0.3s ease-in;
  transition-property: border-color; }

form.svelte-on9zkr button.svelte-on9zkr:hover {
  border-color: #ff3e00; }

@media screen and (max-width: 700px) {
  form.svelte-on9zkr.svelte-on9zkr {
    width: 80%; } }

@media screen and (max-width: 450px) {
  form.svelte-on9zkr.svelte-on9zkr {
    width: 100%; } }

.todo.svelte-9i9uik.svelte-9i9uik {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin: 15px 0;
  padding: 10px;
  transition: all 0.25s ease;
  transition-property: border-color, box-shadow; }

.todo.svelte-9i9uik.svelte-9i9uik:hover {
  border-color: #ff3e00;
  box-shadow: 4px 3px 5px 6px rgba(0, 0, 0, 0.1); }

.todo.svelte-9i9uik p.svelte-9i9uik {
  font-size: larger; }

.todo.svelte-9i9uik .buttons.svelte-9i9uik {
  display: flex;
  flex-direction: column; }

.todo.svelte-9i9uik .buttons button.svelte-9i9uik:nth-child(1) {
  margin-bottom: 10px; }

.todo.svelte-9i9uik .buttons button.svelte-9i9uik {
  border: 1px solid #ff3e00;
  background: none;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  transition-property: border-color, background-color, color; }

.todo.svelte-9i9uik .buttons button.svelte-9i9uik:hover {
  border-color: transparent;
  color: #ffffff;
  background-color: #ff3e00; }

@media screen and (max-width: 450px) {
  .todo.svelte-9i9uik p.svelte-9i9uik {
    font-size: 11pt; }
  .todo.svelte-9i9uik .buttons button.svelte-9i9uik {
    padding: 3px; } }

@media screen and (min-width: 1920px) {
  .todo.svelte-9i9uik p.svelte-9i9uik {
    font-size: 17pt; }
  .todo.svelte-9i9uik .buttons button.svelte-9i9uik {
    font-size: 13pt; } }
